@page "/"

<h3>Index</h3>

<MudCarousel Class="mud-width-full" @ref="_carousel" ItemsSource="@_source" @bind-SelectedIndex="_selectedIndex"
             ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true">

</MudCarousel>